<section class="stack">
  <div class="container">
    <div class="stack-header">
      Стек технологий
      <p>Чем я пользуюсь и что я знаю</p>
    </div>
    <div class="vertical-line"></div>

    <div class="stack-cards">
      <div class="stack-card">
        <div class="stack-card-icon"><img src="../../../assets/images/stack/ws.png" alt="WebStrorm"></div>
        <div class="stack-card-info">WebStrorm</div>
      </div>
      <div class="stack-card">
        <div class="stack-card-icon"><img src="../../../assets/images/stack/Angular.png" alt="Angular"></div>
        <div class="stack-card-info">Angular</div>
      </div>
      <div class="stack-card">
        <div class="stack-card-icon"><img src="../../../assets/images/stack/github.png" alt="github"></div>
        <div class="stack-card-info">Github</div>
      </div>
      <div class="stack-card">
        <div class="stack-card-icon"><img src="../../../assets/images/stack/html.png" alt="HTML"></div>
        <div class="stack-card-info">HTML</div>
      </div>
      <div class="stack-card">
        <div class="stack-card-icon"><img src="../../../assets/images/stack/jquery.png" alt="jquery"></div>
        <div class="stack-card-info">jQuery</div>
      </div>
      <div class="stack-card">
        <div class="stack-card-icon"><img src="../../../assets/images/stack/js.png" alt="js"></div>
        <div class="stack-card-info">JavaScript</div>
      </div>
      <div class="stack-card">
        <div class="stack-card-icon"><img src="../../../assets/images/stack/sass.png" alt="SASS"></div>
        <div class="stack-card-info">SASS</div>
      </div>
      <div class="stack-card">
        <div class="stack-card-icon"><img src="../../../assets/images/stack/ts.png" alt="TS"></div>
        <div class="stack-card-info">TypeScript</div>
      </div>
      <div class="stack-card">
        <div class="stack-card-icon"><img src="../../../assets/images/stack/bootstrap.png" alt="Bootstrap"></div>
        <div class="stack-card-info">Bootstrap</div>
      </div>
      <div class="stack-card">
        <div class="stack-card-icon"><img src="../../../assets/images/stack/webpack.png" alt="Webpack"></div>
        <div class="stack-card-info">Webpack</div>
      </div>
      <div class="stack-card">
        <div class="stack-card-icon"><img src="../../../assets/images/stack/gulp.png" alt="Gulp"></div>
        <div class="stack-card-info">Gulp</div>
      </div>
      <div class="stack-card">
        <div class="stack-card-icon"><img src="../../../assets/images/stack/react.png" alt="React"></div>
        <div class="stack-card-info">React</div>
      </div>
    </div>
  </div>
</section>