<section class="main">
  <div class="container">
    <div class="main-header">
      <span>Я,</span> Пятков Олег
    </div>
    <div class="main-text">
      Frontend-разработчик с опытом создания SPA-приложений на Angular. Работал как с
      лендингами, так и с многостраничными сайтами со сложной внутренней логикой.
    </div>
    <div class="main-action">
      <button><a href="../../../assets/images/PyatkovOleg.pdf">Открыть резюме</a></button>
      <button routerLink="/contacts">Связаться</button>
    </div>
    <img class="main-photo" src="../../../assets/images/lego-me.png">
  </div>
</section>

<section class="projects">
  <div class="container">
    <div class="projects-header">
      Мои проекты
    </div>
    <div class="projects-cards">
      <div class="project-card">
        <div class="project-card-icon"><img src="../../../assets/images/icons/typescript.png"></div>
        <div class="project-card-header">Дашборд Финансов</div>
        <div class="project-card-description">Веб-приложение дашборд для учёта личных доходов и расходов. Разработано на
          TypeScript. Приложение позволяет вести записи о доходах и расходах, просматривать финансовую статистику в виде
          диаграмм, категоризировать операции, добавлять, редактировать и удалять
          операции, фильтровать их по дате и типу, а также отслеживать общий баланс и суммы.
        </div>
        <div class="project-card-link"><a href="">Ссылка на проект</a>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.1696 5C17.273 6.55556 19.1622 8.37278 20.7905 10.4057C20.9302 10.5801 21 10.79 21 11M15.1696 17C17.273 15.4444 19.1622 13.6272 20.7905 11.5943C20.9302 11.4199 21 11.21 21 11M21 11L3 11"
              stroke="#181818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="project-card-image"><img src="../../../assets/images/projects/financialApp.png"></div>
      </div>

      <div class="project-card">
        <div class="project-card-icon"><img src="../../../assets/images/icons/angular.png"></div>
        <div class="project-card-header">Фриланс Агенство</div>
        <div class="project-card-description">Веб-приложение, разработанное на Angular, предназначенное для поиска
          исполнителей на фриланс-услуги. Пользователь может оставить заявку с описанием задачи, после чего с ним
          свяжется менеджер для уточнения деталей. Проект включает блоговую часть с новостями и статьями, где доступны
          функции комментирования, лайков и взаимодействия с контентом.
        </div>
        <div class="project-card-link"><a href="https://github.com/pyatkovo/freelance_company">Ссылка на проект</a>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.1696 5C17.273 6.55556 19.1622 8.37278 20.7905 10.4057C20.9302 10.5801 21 10.79 21 11M15.1696 17C17.273 15.4444 19.1622 13.6272 20.7905 11.5943C20.9302 11.4199 21 11.21 21 11M21 11L3 11"
              stroke="#181818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="project-card-image"><img src="../../../assets/images/projects/freelance.png"></div>
      </div>

      <div class="project-card">
        <div class="project-card-icon"><img src="../../../assets/images/icons/angular.png"></div>
        <div class="project-card-header">Цветочный магазин</div>
        <div class="project-card-description">Онлайн-магазин цветов, разработанный с использованием Angular и
          TypeScript. Пользователи могут просматривать каталог товаров, добавлять нужное количество позиций в корзину и
          оформлять заказ. Также доступен личный кабинет, где можно выбрать предпочтительный способ доставки и управлять
          своей информацией.
        </div>
        <div class="project-card-link"><a href="https://github.com/pyatkovo/e-shop_Angular">Ссылка на проект</a>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.1696 5C17.273 6.55556 19.1622 8.37278 20.7905 10.4057C20.9302 10.5801 21 10.79 21 11M15.1696 17C17.273 15.4444 19.1622 13.6272 20.7905 11.5943C20.9302 11.4199 21 11.21 21 11M21 11L3 11"
              stroke="#181818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="project-card-image"><img src="../../../assets/images/projects/flower-shop.png"></div>
      </div>
    </div>
    <div class="projects-link"><a routerLink="/projects">Посмотреть больше проектов</a>
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M15.1696 5C17.273 6.55556 19.1622 8.37278 20.7905 10.4057C20.9302 10.5801 21 10.79 21 11M15.1696 17C17.273 15.4444 19.1622 13.6272 20.7905 11.5943C20.9302 11.4199 21 11.21 21 11M21 11L3 11"
          stroke="#181818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
  </div>
</section>


<section class="me">
  <div class="container">
    <div class="me-header">
      Больше обо мне
    </div>
    <div class="me-cards">
      <div class="me-card" routerLink="/about">
        <div class="me-card-header">Обо мне</div>
        <div class="me-card-description">Кто я и чем я занимаюсь</div>
        <div class="me-card-image"><img class="sticker" src="../../../assets/images/sticker.webp"></div>
      </div>
      <div class="me-card">
        <div class="me-card-header">Стек технологий</div>
        <div class="me-card-description">Инструменты разработчика, приложения, фреймворки, которые я использую</div>
        <div class="me-card-image"><img class="tech" src="../../../assets/images/tech.png"></div>
      </div>
    </div>
  </div>
</section>



