<footer class="footer">
  <div class="container">
    <div class="footer-logo">
      <img src="assets/images/Logo.svg" alt="Logo">
      <div class="footer-logo-text">Спасибо, что заглянули ツ</div>
    </div>
    <div class="footer-items">
      <div class="footer-item">
        <div class="footer-item-header">Ссылки</div>
        <li routerLink="/about">Обо мне</li>
        <li routerLink="/projects">Работы</li>
         <li routerLink="/stack">Стек</li>
        <li routerLink="/contacts">Контакты</li>
      </div>
      <div class="footer-item">
        <div class="footer-item-header">Для связи</div>
        <ul>
          <li><a href="mailto:pyatkov.olezha@gmail.com">Email</a></li>
          <li><a href="https://t.me/pyatkovo">Telegram</a></li>
          <li><a href="https://github.com/pyatkovo">GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/oleg-pyatkov-545a31220/">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
