<section class="projects">

  <div class="container">
    <div class="projects-header">
      Все проекты
      <p>Проекты и идеи, над которыми я работал</p>
    </div>
    <div class="vertical-line"></div>
    <div class="project-cards">
      <div class="project-card">
        <div class="project-card-icon"><img src="../../../assets/images/icons/angular.png"></div>
        <div class="project-card-header">Фриланс Агенство</div>
        <div class="project-card-description">Веб-приложение, разработанное на Angular, предназначенное для поиска
          исполнителей на фриланс-услуги. Пользователь может оставить заявку с описанием задачи, после чего с ним
          свяжется менеджер для уточнения деталей. Проект включает блоговую часть с новостями и статьями, где доступны
          функции комментирования, лайков и взаимодействия с контентом.
        </div>
        <div class="project-card-link"><a href="https://github.com/pyatkovo/freelance_company">Ссылка на проект</a>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.1696 5C17.273 6.55556 19.1622 8.37278 20.7905 10.4057C20.9302 10.5801 21 10.79 21 11M15.1696 17C17.273 15.4444 19.1622 13.6272 20.7905 11.5943C20.9302 11.4199 21 11.21 21 11M21 11L3 11"
              stroke="#181818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="project-card-image"><img src="../../../assets/images/projects/freelance.png"></div>
      </div>

      <div class="project-card">
        <div class="project-card-icon"><img src="../../../assets/images/icons/angular.png"></div>
        <div class="project-card-header">Цветочный магазин</div>
        <div class="project-card-description">Онлайн-магазин цветов, разработанный с использованием Angular и
          TypeScript. Пользователи могут просматривать каталог товаров, добавлять нужное количество позиций в корзину и
          оформлять заказ. Также доступен личный кабинет, где можно выбрать предпочтительный способ доставки и управлять
          своей информацией.
        </div>
        <div class="project-card-link"><a href="https://github.com/pyatkovo/e-shop_Angular">Ссылка на проект</a>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.1696 5C17.273 6.55556 19.1622 8.37278 20.7905 10.4057C20.9302 10.5801 21 10.79 21 11M15.1696 17C17.273 15.4444 19.1622 13.6272 20.7905 11.5943C20.9302 11.4199 21 11.21 21 11M21 11L3 11"
              stroke="#181818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="project-card-image"><img src="../../../assets/images/projects/flower-shop.png"></div>
      </div>

      <div class="project-card">
        <div class="project-card-icon"><img src="../../../assets/images/icons/typescript.png"></div>
        <div class="project-card-header">Дашборд Финансов</div>
        <div class="project-card-description">Веб-приложение дашборд для учёта личных доходов и расходов. Разработано на
          TypeScript. Приложение позволяет вести записи о доходах и расходах, просматривать финансовую статистику в виде
          диаграмм, категоризировать операции, добавлять, редактировать и удалять
          операции, фильтровать их по дате и типу, а также отслеживать общий баланс и суммы.
        </div>
        <div class="project-card-link"><a href="">Ссылка на проект</a>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.1696 5C17.273 6.55556 19.1622 8.37278 20.7905 10.4057C20.9302 10.5801 21 10.79 21 11M15.1696 17C17.273 15.4444 19.1622 13.6272 20.7905 11.5943C20.9302 11.4199 21 11.21 21 11M21 11L3 11"
              stroke="#181818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="project-card-image"><img src="../../../assets/images/projects/financialApp.png"></div>
      </div>

      <div class="project-card">
        <div class="project-card-icon"><img src="../../../assets/images/icons/typescript.png"></div>
        <div class="project-card-header">Квиз по JavaScript</div>
        <div class="project-card-description">SPA-приложение, разработанное на TypeScript. Проект реализует
          функциональность онлайн-тестирования с возможностью регистрации и
          авторизации пользователей. Приложение взаимодействует с локальным бэкендом, откуда получает список тестов и
          вопросов. После прохождения теста пользователю отображается результат. <br> Все основные действия —
          регистрация,
          вход, выбор теста, прохождение и получение результата — происходят без перезагрузки страницы, благодаря
          архитектуре SPA.
        </div>
        <div class="project-card-link"><a href="https://github.com/pyatkovo/QuizTS">Ссылка на проект</a>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.1696 5C17.273 6.55556 19.1622 8.37278 20.7905 10.4057C20.9302 10.5801 21 10.79 21 11M15.1696 17C17.273 15.4444 19.1622 13.6272 20.7905 11.5943C20.9302 11.4199 21 11.21 21 11M21 11L3 11"
              stroke="#181818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="project-card-image"><img src="../../../assets/images/projects/quiz.png"></div>
      </div>

      <div class="project-card">
        <div class="project-card-icon"><img src="../../../assets/images/icons/angular.png"></div>
        <div class="project-card-header">Лендинг Macaroons</div>
        <div class="project-card-description">Одностраничный лендинг-сайт, разработанный на Angular и посвящённый
          продаже макарунов. В проекте используются кастомные директивы и пайпы, реализована адаптивная верстка и
          приятный пользовательский интерфейс. Приложение построено по модульной структуре с разделением на компоненты,
          что демонстрирует уверенное владение Angular и умение применять его возможности для создания как
          функциональных, так и презентационных решений.
        </div>
        <div class="project-card-link"><a href="https://github.com/pyatkovo/macaroons_Angular">Ссылка на проект</a>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.1696 5C17.273 6.55556 19.1622 8.37278 20.7905 10.4057C20.9302 10.5801 21 10.79 21 11M15.1696 17C17.273 15.4444 19.1622 13.6272 20.7905 11.5943C20.9302 11.4199 21 11.21 21 11M21 11L3 11"
              stroke="#181818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="project-card-image"><img src="../../../assets/images/projects/macaroons.png"></div>
      </div>

      <div class="project-card">
        <div class="project-card-icon"><img src="../../../assets/images/icons/jquery.png"></div>
        <div class="project-card-header">Лендинг о Исландии</div>
        <div class="project-card-description">Адаптивный лендинг-сайт о путешествии в Исландию, разработанный с
          использованием jQuery и препроцессора LESS. Сайт содержит интерактивные блоки, которые анимировано появляются
          при скролле, а также включает форму заявки, которую можно заполнить и отправить. Благодаря полной адаптивности
          и визуальным эффектам проект создаёт динамичное и привлекательное пользовательское взаимодействие,
          демонстрируя уверенное владение классическим фронтенд-стеком без применения современных фреймворков.
        </div>
        <div class="project-card-link"><a href="https://pyatkovo.github.io/iceland.github.io/">Ссылка на проект</a>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.1696 5C17.273 6.55556 19.1622 8.37278 20.7905 10.4057C20.9302 10.5801 21 10.79 21 11M15.1696 17C17.273 15.4444 19.1622 13.6272 20.7905 11.5943C20.9302 11.4199 21 11.21 21 11M21 11L3 11"
              stroke="#181818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="project-card-image"><img src="../../../assets/images/projects/iceland.png"></div>
      </div>

      <div class="project-card">
        <div class="project-card-icon"><img src="../../../assets/images/icons/angular.png"></div>
        <div class="project-card-header">Форма банковской транзакции</div>
        <div class="project-card-description">Одностраничное Angular-приложение, реализующее банковскую форму с полной
          проверкой всех полей на валидность с использованием реактивных форм. В проекте применены как встроенные, так и
          кастомные валидаторы для обеспечения корректности ввода данных. Приложение демонстрирует работу с Angular Reactive Forms, обработку ошибок и валидацию в реальном
          времени, что делает его отличным примером формы с высоким уровнем пользовательской надёжности и UX.
        </div>
        <div class="project-card-link"><a href="https://pyatkovo.github.io/BankTransactionForm/">Ссылка на проект</a>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.1696 5C17.273 6.55556 19.1622 8.37278 20.7905 10.4057C20.9302 10.5801 21 10.79 21 11M15.1696 17C17.273 15.4444 19.1622 13.6272 20.7905 11.5943C20.9302 11.4199 21 11.21 21 11M21 11L3 11"
              stroke="#181818" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <div class="project-card-image"><img src="../../../assets/images/projects/bank-form.png"></div>
      </div>
    </div>
  </div>
</section>
