@font-face {
  font-family: "Inter Bold";
  src: url("../fonts/Inter_18pt-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter Medium";
  src: url("../fonts/Inter_18pt-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Inter Regular";
  src: url("../fonts/Inter_18pt-Regular.ttf");
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Inter_18pt-SemiBold.ttf");
  font-family: "Inter Semibold";
  font-weight: 600;
}
