<section class="contacts">
  <div class="container">
    <div class="contacts-header">
      Контакты
      <p>Для связи со мной</p>
    </div>
    <div class="vertical-line"></div>
<div class="contacts-block">
  <div class="contacts-link">
    <a href="https://t.me/pyatkovo">Telegram: https://t.me/pyatkovo</a>
  </div>
  <div class="contacts-link">
    <a href="mailto:pyatkov.olezha@gmail.com">Email: pyatkov.olezha@gmail.com</a>
  </div>
  <div class="contacts-link">
    <a href="tel:+375295093039">Телефон: +375(29)509-30-39</a>
  </div>
  <div class="contacts-link">
    <a href="https://github.com/pyatkovo">GitHub: https://github.com/pyatkovo</a>
  </div>
</div>

  </div>
</section>
