<section class="about">
  <div class="container">
    <div class="about-header">
      Обо мне
      <p>Кто я и чем занимаюсь</p>
    </div>
    <div class="vertical-line"></div>

    <div class="about-block">
      <div class="about-block-info">
        <h3>Кто я</h3>
        <p>Я — фронтенд-разработчик с фокусом на Angular и TypeScript. Занимаюсь созданием SPA‑приложений, владею HTML,
          CSS, JavaScript и уверенно работаю с REST API. Умею делать как лендинги, так и сложные интерфейсы.</p>

        <h3>Чем я занимаюсь</h3>
        <p>Я учусь и развиваюсь во фронтенд-разработке, работаю с Angular и TypeScript. Делаю интерфейсы,
          взаимодействую с API, настраиваю формы и работаю с данными. Мне важно, чтобы код был чистым, а интерфейс —
          удобным для пользователя. Параллельно изучаю новые фичи и тренируюсь на реальных задачах.
        </p>

        <h3>Мои хобби</h3>
        <p>В свободное время люблю кататься на велосипеде — выбираю маршруты подальше от города,
          заезжаю в леса и просто наслаждаюсь природой. Это помогает перезагрузиться и зарядиться на новые задачи. Моё
          главное хобби — хоккей, увлекаюсь им ещё с детства. А чтобы расслабиться, люблю заходить во вкусные места и
          кофейни.
        </p>
        <div class="podpis">
          <img src="assets/images/podpis.png" alt="OP">
        </div>
      </div>

      <div class="about-block-image">

      </div>
    </div>
  </div>
</section>
